services:
  # Web Service
  - type: web
    name: mememaster
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
    
  # PostgreSQL Database
databases:
  - name: mememaster-db
    databaseName: mememaster
    user: mememaster
